<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="cucumber.eclipse.launching.localCucumberFeature">
    <stringAttribute key="cucumber feature" value="C:\Users\edimi\Repositories\Bitbucket\hubfintech\tarefas\src\test\java\br\sp\edimilsonestevam\feature\CT0001Usuario.feature"/>
    <stringAttribute key="glue path" value=""/>
    <booleanAttribute key="is html formatter?" value="true"/>
    <booleanAttribute key="is json formatter?" value="true"/>
    <booleanAttribute key="is junit formatter" value="true"/>
    <booleanAttribute key="is monochrome?" value="true"/>
    <booleanAttribute key="is pretty formatter?" value="true"/>
    <booleanAttribute key="is progress formatter?" value="true"/>
    <booleanAttribute key="is rerun formatter" value="true"/>
    <booleanAttribute key="is usage formatter" value="true"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/tarefas"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tarefas"/>
</launchConfiguration>
